body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {

  /* align-content: center; */
  text-align: center;
}

.main-text {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.main-description {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.add-book-button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
}

.book-table {
  table-layout: fixed;
  width: 100%;
  padding: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.4); /* This does not control the background of the modal, but the background BEHIND the modal */
  z-index: 1000; /* Ensures that any elements that might also be rendered with a button click will be rendered behidn this modal
  as long as the index is lower than the one set here. */
}

.prop-modal-content {
    background: #fff;
    width: 400px;
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 12px;
    padding: 24px;
    margin: auto;
    overflow-y: auto;
    outline: none;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-heading {
    text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* For spacing the inputs/labels from one another on the modal
Also to hopefully be used for aligning the modal content better */
.form-label-and-input {
  padding: 10px;
}

.sortHeader {
  cursor: pointer;
}

th {
  font-size: larger;
  font-weight: bold;
}

td {
  border: 1px solid;
  padding: 15px;
}