body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {

  /* align-content: center; */
  text-align: center;
}

.main-text {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.main-description {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.add-book-button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
}

.book-table {
  table-layout: fixed;
  width: 100%;
  padding: 10px;
}

.modal-content {
  height: 20%;
  width: 20%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* For spacing the inputs/labels from one another on the modal
Also to hopefully be used for aligning the modal content better */
.form-label-and-input {
  padding: 10px;
}